*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navigation-bar{
    width: 100%;
    height: 68px;
    background-color: rgb(88, 85, 85);
    /* text-decoration: none; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* margin-right: 25px; */
    position: relative;
}

.logo{
    padding-left: 25px;
}

.logo img{
    height: 47px;
    width: 118px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav{
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.1s ease-out;
}

.nav a{
    text-decoration: none;
    color: rgb(173, 169, 169);
}

.nav .nav-link-1{
    color: rgb(207, 148, 39);
}

.nav a:hover{
     color: orangered;
}
.buttons{
    padding: 10px;
    padding-right: 20px;
}

.log-button{
    height: 30px;
    width: 60px;
    font-size: 0.77rem;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 15px;
    color: skyblue;
    border: none;
    background-color: rgb(88, 85, 85);
    transition: 0.1s ease-out;
}

.log-button:hover{
    background-color: rgb(14, 14, 37);
}

.sign-button{
    height: 42px;
    width: 68px;
    font-size: 0.82rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    color: rgb(240, 167, 31);
    background-color: rgba(245, 93, 23, 0.932);
    transition: 0.1s ease-out;
}

.sign-button:hover{
    background-color: rgb(255, 30, 0);
}

.main{
    height: 800px;
    width: 100%;
    display: flex;
    background-color: rgb(51, 50, 50);
}

.left{
    width: 50%;
}

.left img{
   height: 70%;
    align-items: center;
    justify-content: center;
    padding: 25%;
}

.right{
    width: 50%;
    align-items: center;
    justify-content: center;
}

.text{
    align-items: center;
    justify-content: center;
    padding-left: 20%;
    padding-top: 20%; 
    color: white;
}

.right h1{
    font-size: 70px;
}

.right h2{
    font-size: 50px;
   
}

/* .main .right .text{
    color: white;
} */

.right img{
    width: 40%;
    padding-top: 20px;
}